<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="boardMapper">
     <resultMap id ="boardResultSet" type="Board">
        <result column="BOARD_NO" property="boardNo"/>
        <result column="USER_NO" property="userNo"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_CONTENT" property="boardContent"/>
        <result column="CATEGORY" property="category"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="DELETE_DATE" property="deleteDate"/>
        <result column="BOARD_COUNT" property="boardCount"/>
     </resultMap>
   <resultMap id="boardCommentResultSet" type="BoardComment">
       <result column="BOARD_COMMENT_NO" property="boardCommentNo" />
       <result column="BOARD_COMMENT_CONTENT" property="boardCommentContent" />
       <result column="BOARD_NO" property="boardNo" />
       <result column="USER_NO" property="userNo" />
         <result column="USER_NAME" property="userName"/>
   </resultMap>
   <resultMap id="boardImgResultSet" type="BoardImg">
       <result column="BOARD_IMG_NO" property="boardImgNo" />
       <result column="BOARD_NO" property="boardNo" />
       <result column="BOARD_IMG" property="boardImg" />
       <result column="ORIGIN_NAME" property="originName" />
       <result column="CHANGE_NAME" property="changeName" />
       <result column="DELETE_DATE" property="deleteDate" />
   </resultMap>
   
   <select id="selectListCount" resultType="_int">
     SELECT COUNT(*)
       FROM BOARD
      WHERE DELETE_DATE IS NULL   
     </select>
   
   <select id="selectList" resultMap="boardResultSet">
      SELECT BOARD_NO
            , CATEGORY
           , BOARD_TITLE
           , USER_NAME as "USER_NO"
           , BOARD_COUNT
           , UPDATE_DATE
       FROM BOARD
       JOIN MEMBER USING (USER_NO)
       WHERE DELETE_DATE IS NULL
       ORDER BY BOARD_NO DESC
     </select>
   
   <update id="increaseCount" parameterType="_int">
        UPDATE BOARD
           SET BOARD_COUNT = BOARD_COUNT + 1
         WHERE BOARD_NO = #{boardNo}
           AND DELETE_DATE IS NULL
     </update>
   
   <select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
         SELECT BOARD_NO
             , CATEGORY
             ,BOARD_TITLE
             ,BOARD_CONTENT
             , USER_NAME as "USER_NO"
             ,BOARD_COUNT
             ,UPDATE_DATE
             ,BOARD_CONTENT
            FROM BOARD
  		 JOIN MEMBER USING (USER_NO)
  	   WHERE BOARD_NO = #{boardNo}
  	</select>
	
	<update id="deleteBoard">
		UPDATE BOARD
		   SET DELETE_DATE = SYSDATE
		 WHERE DELETE_DATE IS NULL
		   AND BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectBoardImg" parameterType="_int" resultMap="boardImgResultSet">
		SELECT 	BOARD_IMG_NO,
				BOARD_NO,
				BOARD_IMG,
				ORIGIN_NAME,
				CHANGE_NAME
		  FROM BOARD_IMG
		 WHERE BOARD_NO = #{boardNo}
		   AND DELETE_IMG IS NULL
	</select>
	
	<update id="updateBoard">
		UPDATE BOARD
		   SET BOARD_TITLE = #{boardTitle},
		   	   BOARD_CONTENT = #{boardContent},
		   	   CATEGORY = #{category}
		 WHERE BOARD_NO = #{boardNo}
		   AND DELETE_DATE IS NULL
	</update>
	<update id="updateBoardImg">
		UPDATE BOARD_IMG
		   SET ORIGIN_NAME = #{originName},
		   	   CHANGE_NAME = #{changeName},
		   	   BOARD_IMG = #{boardImg}
		 WHERE BOARD_IMG_NO = #{boardImgNo}
		   AND DELETE_IMG IS NULL
	</update>
	<insert id="insertBoardImg">
		INSERT 
		  INTO BOARD_IMG(
		  				BOARD_IMG_NO,
						BOARD_NO,
						BOARD_IMG,
						ORIGIN_NAME,
						CHANGE_NAME
		  				)
		VALUES (
				SEQ_boardIMGno.NEXTVAL,
				SEQ_BOARDNO.CURRVAL,
				#{boardImg},
				#{originName},
				#{changeName}
				)
	</insert>
	<insert id="insertBoard">
		INSERT
		  INTO BOARD
		  		(BOARD_NO,
					USER_NO,
					BOARD_TITLE,
					BOARD_CONTENT,
					CATEGORY,
					UPDATE_DATE
		  		)
		VALUES (SEQ_BOARDNO.NEXTVAL,
				#{userNo},
				#{boardTitle},
				#{boardContent},
				#{category},
				SYSDATE
				)
	</insert>


	<select id="selecttopFiveList" resultMap="boardResultSet">
		select * from
		(select BOARD_NO,user_no,BOARD_TITLE,BOARD_CONTENT,UPDATE_DATE,BOARD_COUNT
		from board 
		join member using(user_no)
		order by board_count DESC)
		where ROWNUM BETWEEN 1 and 4
  	</select>
	  <!-- 댓글 조회 리스트 만들기 -->
		<select id="selectCommentList" resultMap="boardCommentResultSet">
	  		SELECT BOARD_COMMENT_NO
	  			 , USER_NO
	  			 , USER_NAME
	  			 , BOARD_COMMENT_CONTENT
	  			 , BOARD_NO
	  		FROM BOARD_COMMENT
	  		JOIN MEMBER USING (USER_NO)
	  	   WHERE BOARD_NO = #{boardNo}
	  	ORDER BY BOARD_COMMENT_NO DESC
	  	</select>
  
	  <!-- 댓글 추가 쿼리문 -->
	  <insert id="insertComment">
	  	INSERT 
	  	INTO BOARD_COMMENT(
	  		BOARD_COMMENT_NO,
	  		BOARD_COMMENT_CONTENT,
	  		BOARD_NO,
	  		USER_NO
	  	)
	  	VALUES(
		  	SEQ_BOARDCOMENTNO.NEXTVAL,
		  	#{boardCommentContent},
		  	#{boardNo},
		  	#{userNo}
	  	)
	  </insert>
  
  
  </mapper>