<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="chartMapper">
	<resultMap id="chartResultSet" type="Chart">
		<result column="CHART_NO" property="exChartNo"/>
		<result column="CHART_TIME" property="exChartTime"/>
		<result column="CHART_TARGET" property="exChartTarget"/>
		<result column="CHART_DAY" property="exCharDay"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>

	<select id="selectTodayExList" resultMap="chartResultSet">
		select * from
		chart where user_no = #{userNo}
		and TO_CHAR(CHART_DAY,'YYYY-MM') = #{nowMonth}
		
	</select>
	
	<insert id="insertExInfo">
		insert 
		    into chart(
		        chart_no,
		        chart_time,
		        chart_target,
		        user_No
		        )
		        values
		        (
		        SEQ_CHARTNO.nextval,
		        #{exChartTime},
		        #{exChartTarget},
		        #{userNo}
		    )
	</insert>
	
	
	<update id="UpdateChartInfo">
		update
			chart
			set
			chart_time = #{exChartTime},
			chart_target = #{exChartTarget}
			where user_no = #{userNo}
			and TO_CHAR(CHART_DAY,'YYYY-MM-DD') = #{nowMonth}
				
	</update>
</mapper>