<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="feedMapper">
  
	<resultMap id="feedResultSet" type="Feed">
		<result column="FEED_NO" property="feedNo" />
		<result column="USER_ID" property="userNo" />
		<result column="FEED_TEXT" property="feedText" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="DELETE_DATE" property="deleteDate" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FEED_URL" property="feedUrl" />
	</resultMap>
	<resultMap id="feedImgResultSet" type="FeedImg">
		<result column="FEEDIMG_NO" property="feedImgNo" />
		<result column="FEED_NO" property="feedNo" />
		<result column="FEED_URL" property="feedUrl" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="DELETE_IMG" property="deleteImg" />
	</resultMap>
	<resultMap id="feedLikeResultSet" type="FeedLike">
		<result column="LIKE_NO" property="likeNo" />
		<result column="FEED_NO" property="feedNo" />
		<result column="USER_NO" property="userNo" />
	</resultMap>
	
	
	<select id="selectCount" resultType="_int">
     SELECT COUNT(*)
       FROM FEED_LIKE
      WHERE FEED_NO = #{feedNo}
    </select>
    
 	<select id="selectListCount" resultType="_int">
     SELECT COUNT(*)
       FROM FEED
       WHERE DELETE_DATE IS NULL
    </select>
    
  	<select id="selectList" resultMap="feedResultSet">
  		SELECT FEED_NO, 
	  		   USER_ID, 
	  		   FEED_TEXT, 
	  		   ORIGIN_NAME, 
	  		   CHANGE_NAME,
	  		   FEED_URL
   		FROM FEED
    		JOIN MEMBER USING(USER_NO)
    		JOIN (SELECT FEED_NO,
                        MAX(ORIGIN_NAME) ORIGIN_NAME, 
                        MAX(CHANGE_NAME) CHANGE_NAME,
                        MAX(FEED_URL) FEED_URL
                        FROM FEED_IMG
                        GROUP BY FEED_NO) USING(FEED_NO)
    	ORDER BY FEED_NO DESC
  	</select>
  	
  	
  	<insert id="insertLike">
  		INSERT 
  			INTO FEED_LIKE(
  							LIKE_NO,
  							FEED_NO,
  							USER_NO
  							)
  					 VALUES(
  					 		SEQ_FEEDLIKENO.NEXTVAL,
  					 		#{feedNo},
  					 		#{userNo}
  					 		)
  			
  	</insert>
 	
  	 <select id="countLike" resultType="_int">
  		SELECT count(*)
   		FROM FEED_LIKE
    		where feed_no = ${feedNo}
  	</select>
  	<select id="selectMyFeed" resultMap="feedResultSet">
		SELECT FEEDIMG_NO,
		        FEED_NO,
		        FEED_URL,
		        ORIGIN_NAME,
		        CHANGE_NAME
		FROM FEED
		JOIN FEED_IMG USING(FEED_NO)
		WHERE USER_NO = #{userNo}
		AND DELETE_DATE IS NULL
  	</select>
  	
  	<insert id="insertFeed">
		INSERT
		  INTO FEED
		  		(FEED_NO,
				 USER_NO,
				 FEED_TEXT,
				 UPDATE_DATE
		  		)
		VALUES (SEQ_FEEDNO.NEXTVAL,
				#{userNo},
				#{feedText},
				SYSDATE
				)
	</insert>
	<insert id="insertFeedImg">
		INSERT 
			INTO FEED_IMG(
						  FEEDIMG_NO, 
						  FEED_NO, 
						  FEED_URL, 
						  ORIGIN_NAME, 
						  CHANGE_NAME, 
						  DELETE_IMG
						  )
            	VALUES(
            		   SEQ_FEEDIMGNO.NEXTVAL, 
	            	   SEQ_FEEDNO.CURRVAL,
	            	   #{feedUrl}, 
	            	   #{originName}, 
	            	   #{changeName}, 
	            	   SYSDATE
	            	   )
	</insert>
</mapper>