<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="feedMapper">
  
	<resultMap id="feedResultSet" type="Feed">
		<result column="FEED_NO" property="feedNo" />
		<result column="USER_ID" property="userNo" />
		<result column="FEED_TEXT" property="feedText" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="DELETE_DATE" property="deleteDate" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FEED_URL" property="feedUrl" />
	</resultMap>
	<resultMap id="feedImgResultSet" type="FeedImg">
		<result column="FEEDIMG_NO" property="feedImgNo" />
		<result column="FEED_NO" property="feedNo" />
		<result column="FEED_URL" property="feedUrl" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="DELETE_IMG" property="deleteImg" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
     SELECT COUNT(*) COUNT
       FROM FEED
    </select>
 	
  	<select id="selectList" resultMap="feedResultSet">
  		SELECT FEED_NO, 
	  		   USER_ID, 
	  		   FEED_TEXT, 
	  		   ORIGIN_NAME, 
	  		   CHANGE_NAME,
	  		   FEED_URL
   		FROM FEED
    		JOIN MEMBER USING(USER_NO)
    		JOIN FEED_IMG USING(FEED_NO)
  	</select>
  	
  	
  	 <select id="countLike" resultType="_int">
  		SELECT count(*)
   		FROM FEED
    		where feed_no = ${feedNo}
  	</select>
  	
  	<insert id="insertFeed">
		INSERT
		  INTO FEED
		  		(FEED_NO,
				 USER_NO,
				 FEED_TEXT,
				 UPDATE_DATE
		  		)
		VALUES (SEQ_FEEDNO.NEXTVAL,
				#{userNo},
				#{feedText},
				SYSDATE
				)
	</insert>
	<insert id="insertFeedImg">
		INSERT 
			INTO FEED_IMG(
						  FEEDIMG_NO, 
						  FEED_NO, 
						  FEED_URL, 
						  ORIGIN_NAME, 
						  CHANGE_NAME, 
						  DELETE_IMG
						  )
            	VALUES(
            		   SEQ_FEEDIMGNO.NEXTVAL, 
	            	   SEQ_FEEDNO.CURRVAL,
	            	   #{feedUrl}, 
	            	   #{originName}, 
	            	   #{changeName}, 
	            	   SYSDATE
	            	   )
	</insert>
</mapper>