<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .outer{
            background: rgb(165 173 179);
            color: rgb(32, 28, 28);
            width: 1000px;
            height: auto;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .center{
            text-align: center;
            margin-top: 40px;
            margin-bottom: 50px;
        }

    </style>

</head>
<div class="outer" >
    <br>
    <h2 style="margin-left: 30px;">머슬지도</h2>

    <!--
        <div style="margin-left: 30px;">부위별운동</div>
        <div style="margin-left: 30px;"> - 부위 클릭시 부위별 운동방법 영상 시청 가능</div>
    -->
        
    <div style="text-align: center;">
        <h3>어깨운동</h3> 
    </div>


    <div class="center" >
        <iframe width="500" height="500" src="https://youtube.com/embed/3hYOPTgd_WQ?si=2s5IbljLMx8Vfgwn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div style="margin-bottom: 50px; margin-left: 50px; ">
       <p>  어깨는 상체에서 가장 중요한 관절 중 하나입니다. </p>
       <p> 어깨를 움직이면 팔을 위로 들어 올리고, 옆으로 벌리고, 뒤로 젖힐 수 있습니다. </p>
       <p> 어깨가 튼튼하면 팔을 자유롭게 움직일 수 있고, 일상생활에서 많은 동작을 쉽게 할 수 있습니다. </p>
       <P> 또한 어깨는 움직임이 많은 관절이기 때문에 부상을 입기 쉽습니다. 
          따라서 어깨 운동을 할 때는 올바른 자세와 강도를 유지하는 것이 중요합니다.</P>

        <br><br>
    </div>


<body>
    
</body>
</html>