<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  

 <configuration>

    <settings>
       <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
       <typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="Member" />
       <typeAlias type="com.kh.mybatis.chart.model.vo.Chart" alias="Chart"/>
       <typeAlias type="com.kh.mybatis.board.model.vo.Board" alias="Board"/>
       <typeAlias type="com.kh.mybatis.board.model.vo.BoardComment" alias="BoardComment"/>
       <typeAlias type="com.kh.mybatis.board.model.vo.BoardImg" alias="BoardImg"/>
       <typeAlias type="com.kh.mybatis.feed.model.vo.Feed" alias="Feed"/>
       <typeAlias type="com.kh.mybatis.member.model.vo.Follow" alias="Follow"/>
       <typeAlias type="com.kh.mybatis.feed.model.vo.FeedImg" alias="FeedImg"/>
       <typeAlias type="com.kh.mybatis.feed.model.vo.FeedLike" alias="FeedLike"/>
    </typeAliases>
    
    <environments default="development">
       <environment id="development">
       
          <transactionManager type="JDBC" />
          
          <dataSource type="POOLED">
           <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
           <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" /> 
           <property name="username" value="ex"/>
           <property name="password" value="ex"/>
       </dataSource>
       </environment>
    </environments>
    
    <mappers> 
       <mapper resource="/mappers/member-mapper.xml" />
       <mapper resource="/mappers/Chart-mapper.xml" />
       <mapper resource="/mappers/board-mapper.xml" /> 
       <mapper resource="/mappers/feed-mapper.xml" />     
    </mappers>
    
 </configuration>
