
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    .outer{
        background: rgb(165 173 179);
        color: rgb(32, 28, 28);
        width: 1000px;
        height: auto;
        margin: auto;
        margin-top: 50px;
    }
    .outer table{
        border: 1px solid rgb(181, 28, 28);
        border-collapse: collapse;
    }
    .outer table tr, .outer table td{
        border: 1px solid rgb(250, 246, 246);
    }
    .btn-text-right{
        text-align: right;
        }

    #btn-area{
    margin: 0 auto;
    /* max-width: calc(100% - 570px); */
    width: 570px;
    }

</style>
</head>
<body>
    

    <div class="outer">
        <br>
        <h2 align="center"><자유게시판 상세보기></h2>
        <br>

        <table id="detail-area" border="1" align="center">
    
            <tr>
                <th width="70">카테고리</th>
                <td  width="500px" colspan="5"></td>
                
            </tr>
            <tr>
                <th height="30px">제목</th>
                <td width="500px" colspan="5"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td width="70px" align="center"> 머슬맨</td>
                <th width="70px">작성일</th>
                <td width="150px" align="center">2023/10/23 12:06</td>
                <th width="40px">댓글</th>
                <td width="40px" align="center">20</td>
                
            </tr>

            <tr>
                <th>내용</th>
                <td colspan="5">
                    <p style="height: 200px;"></p>
                </td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td colspan="5">
                    
                </td>
            </tr>
        </table>
        <br>

        <div id="reply-area">
            <table align="center" width="570px">
                <thead>
                   
                </thead>
                <tbody>
                    <th>댓글작성</th>
                        <td>
                            <textarea id="reply-content" cols="50" rows="3"></textarea>
                        </td>
                        <td>
                            <button onclick="insertReply()">댓글등록</button>
                        </td>
                </tbody>
            </table>
      
            <br>
            <div id="btn-area" class="btn-text-right">
                <button>글목록</button> <button>글쓰기</button>
            </div>
            
            


<!--
<script>
            	window.onload = function(){
            		//댓글 가져와서 그려주기
            		selectReplyList();
            		
            		setInterval(selectReplyList, 2000)
            	}
            	
            	function selectReplyList(){
            		$.ajax({
            			url: "rlist.bo",
            			data : {
            				bno: <%=b.getBoardNo()%>
            			},
            			success: function(res){
                        	
            				let str = "";
							for(let reply of res){
								console.log(reply)
								str+= "<tr>"
									+ "<td>" + reply.replyWriter + "</td>"	
									+ "<td>" + reply.replyContent + "</td>"	
									+ "<td>" + reply.createDate + "</td>"	
								+ "</tr>";
								
								
							}            		
            		
            			document.querySelector("#reply-area tbody").innerHTML = str;
            			
            			
							
            			},
            			error: function(){
            				console.log("댓글목록 조회중 ajax통신실패");
            			}
            		})
            	}
           
           function insertReply(){
                $.ajax({
                    url : "rinsert.bo",
                    data : {
                        content: document.getElementById("reply-content").value,
                        bno: <%=b.getBoardNo() %>
                    },
                    type: "post",
                    success: function(result){
                        if(result > 0 ){ //댓글작성 성공
                        	document.getElementById("reply-content").value = "";
                        	selectReplyList();
                        }
                    },
                    error:function(){
                    	console.log("댓글 작성중 ajax통신실패");
                    }
                })
           }
           
           </script>

-->
            
   
</body>
</html>